/* Estilo para a o rodapé */
.premium {
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(to right, #9e5680, #ecd504); /* Fundo com um gradiente linear */
    position: fixed; /* Posicionamento fixo na tela */
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15px 40px; /* Espaçamento interno de 15px cima/baixo e 40px dir/esq */
    display: flex; /* Layout flexível para os elementos internos */
    justify-content: space-between; /* Espaçamento uniforme entre os elementos internos */
    align-items: center;
}

/* Estilo para o título dentro do rodapé*/
.premium__title {
    color: #fff; /* Cor do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    font-weight: bold; /* Peso da fonte */
    font-size: 16px; /* Tamanho da fonte */
    margin-bottom: 10px;
}

/* Estilo para o subtítulo dentro do rodapé*/
.premium__subtitle {
    color: #fff; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
}

/* Estilo para o botão dentro do rodapé */
.premium__button button {
    background-color: #fff; /* Cor de fundo para o botão */
    color: #000; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    padding: 14px 30px; /* Espaçamento interno de 14px no cima/baixo e 30px dir/esq */
    border: 0; /* Sem borda */
    border-radius: 40px; /* Borda arredondada com raio de 40 pixels */
    cursor: pointer; /* Cursor do mouse como ponteiro para indicar interatividade */
}